@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --slate-200-rgb: 112, 128, 144;
  --slate-100-rgb: 158, 174, 191;
  --slate-50-rgb: 207, 219, 231;
  --slate-25-rgb: 229, 231, 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--slate-25-rgb)); 
}
